firecrawl-py
openai
google-search-results
git+https://github.com/openai/swarm.git
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
